@charset "UTF-8";
/* CSS Document */
/*Body*/

body {
	font-family: Arial, Verdana, sans-serif;
	background-image:url('images/bg.png');
	background-repeat:repeat;
	background-position:top;
}

/* First letter for h1 changed color */
h1:first-letter {
	color: #43858E; 
	text-transform: uppercase;
}

/* H1 changes */
h1{
	color:grey;
	text-shadow: 2px 2px #3F4141;
	text-transform: none;
	font-size:2.900em;
	text-align:center;
	font-family: 'Tangerine', serif;
 	text-shadow: 4px 4px 4px #aaa;

}

/* strong style*/
strong{

	color:#1C618B;
}

/* Em style */
Em{
	font-weight: normal; 
	font-size: 0.300em; 
	line-height: 7px; 
	font-family: small fonts; 
	text-transform: uppercase; 
	text-decoration: none; 
	color:#CB0E53; 
	letter-spacing:1px;
	color:#219e97;} 
	
/* Active Links Style */
a:active, a:link  {
	font-size :1.250em;
	color :#43858E; 
	font-family :impact;  
	font-weight : normal;
	text-decoration :underline; 
	line-height: 0px;
	padding-left: 2px;
	padding-right: 2px;  
	letter-spacing:3px; 
	text-transform:uppercase ; 
	}
	
/* Visited Links style */
 a:visited {
	font-size:0.500em;
	color :#CB0E53; 
	font-family :impact;  
	font-weight : normal;
	text-decoration: none; 
	line-height: 0px;
	padding-left: 2px;
	padding-right: 2px;  
	background-color:#ffffff;
	letter-spacing:1px; 
	text-transform:uppercase ;
	 }
/* Hover Links Style */
a:hover { font-size : 22px;
	color :black;
	font-family :impact; 
	font-weight : normal; 
	text-decoration : none;
	padding-left: 0px; 
	padding-right: 0px;
	letter-spacing:1px; 
	text-transform:none;
	 }

/* Link 1 Hover */
a.link1:link, a.link1:visited, a.link1:active{ 
	display: inline;
	border-width:3px;
	border-color:#FFF;
	border-style:solid;
	font-style:italic;
	border-color:#345061;
	border-bottom-style:outset;
	line-height: 100%;
}

/* H2 */
h2{
	color:white;
	font-family:century gothic;
	font-size:1.063em;
	line-height:17pt;
	text-transform:uppercase;
	letter-spacing:3px;
	font-weight:bold;
	background-color:#000000;
	font-style:normal;
	padding-left:4px;
	padding-right:4px;
	border-bottom-width:1px;
	border-bottom-style:dashed;
	border-bottom-color:#ffffff;
	
}

/* font family */
div {
    font-family: courgette;
}

ub {list-style-type: square;}

img:hover { 
  border: 3px solid black; 
} 
img { 
  border: 3px solid white; 
} 



/* Content properties*/
#content {
	float: left;
	width: 60%;
	margin:10px;
	top:10px; 
	margin: auto;
	padding: 1px;
	box-shadow:0px 4px 4px 4px #888888;
	text-align:left;
	border: 1px solid #665544;
	border-radius: 25px;
	background-color: #efefef;
	padding: 10px;
}
/* Sidebar properties */
#sidebar {
	float:left;
	width:25%;
	margin:10px;
	top:10px; 
	left:20px; 
	padding: 1px;
	box-shadow:0px 4px 4px 4px #888888;
	text-align:left;
	border: 1px solid #665544;
	border-radius: 25px;
	background-color: #efefef;
	padding: 10px;
	clear:right;
	background: rgb(30,87,153);
background: rgb(254,255,255);
background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(221,241,249,1)), color-stop(100%,rgba(160,216,239,1)));
background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
background: -o-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
background: -ms-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
}